.overlay {
  position: absolute;
  inset: 0;
  opacity: 60%;
  background-color: #000;
}

.top-layer {
  z-index: 1;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 49.48px 94px 50.52px;
  font-size: 18px;
}

.address {
  width: 240.52px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.7px;
  letter-spacing: 0.004em;
}

.header__links-list {
  display: flex;
  margin-top: 2px;
  padding: 0;
}

.header__links-list-item {
  margin-right: 33.9px;
  list-style: circle outside;
}

.header__links-list-last-item {
  margin-right: 0;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__menu-link-active {
  margin-bottom: 0;
}

.header__logo {
  position: relative;
  display: block;
  width: 135px;
  height: 100%;
  margin-right: 148px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 167px 50px 47px;
  background: url(../images/cover.jpg) center / cover;
}

.cover__title {
  margin-bottom: 135px;
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-top: 20px;
  line-height: 1;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 79px;
}

.cover__description-text {
  color: #ffffff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 0.83em;
}

.bet-button {
  border: 0.5px solid currentColor;
  padding: 12px 32px;
  color: #ffffff;
  font-family: inherit;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin-bottom: 146px;
  padding: 179px 24px 0px;
}

.lots__heading {
  margin: 0 0 26px 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

.lots__card-list-item {
  position: relative;
  display: flex;
  list-style-type: none;
}

.card-link {
  display: flex;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 564px;
  padding: 51px 40px 45px;
  color: #ffffff;
  background: center / cover;
}

.card-link {
  text-decoration: none;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24.1px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 17px;
  padding: 35px 25px 0 17px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  align-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  padding: 64px 45.52px 62px 46.48px;
  background-color: black;
}

.about__title {
  margin: 104px 0 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  word-spacing: 0.039em;
}

.first-paragraph {
  margin-bottom: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 88px;
}

.footer__menu-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  min-width: 240px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
  list-style-type: none;
}
